node_modules/
.idea/
.next/
build
coverage
reports
dist

yarn-error.log
public/static/.DS_Store
public/sw.js
public/sw.js.map
public/workbox-*
.DS_Store
.vscode
.env.local
newrelic_agent.log
tsconfig.tsbuildinfo
.log